/* Main Container */
.side-container {
  display: flex;
}

/* Background Elipse */
.elipse {
  width: 626px;
  height: 940px;
  position: absolute;
  top: -67px;
  left: 687px;
}

/* People image on top of the Elipse */
.people {
  position: absolute;
  top: 175px;
  left: 835px;
  width: 474px;
  height: 666px;
}

/* Media Screen */
@media screen and (min-width: 769px) and (max-width: 960px) {
  .people {
    width: 400px;
    height: 600px;
  }

  .side-container {
    margin-left: 10px;
  }
}